@model Fall2025_Project3_jma33.Models.MovieActors

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit Movie-Actor Mapping</h1>

<div class="row mt-2">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="MovieId" class="control-label">Movie Name</label>
                <select asp-for="MovieId" class="form-control" asp-items="ViewBag.MovieId"></select>
                <span asp-validation-for="MovieId" class="text-danger"></span>
            </div>
            <div class="form-group mt-4 mb-4">
                <label asp-for="ActorId" class="control-label">Actor Name</label>
                <select asp-for="ActorId" class="form-control" asp-items="ViewBag.ActorId"></select>
                <span asp-validation-for="ActorId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div class="mt-2">
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
