@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Your Movie and Actor Management Site!</h1>
</div>
<div>
    <h4>Add your favorite movies from the Movies tab!</h4>
    <p>Add your favorite actors from the Actors tab!</p>
    <p>Associate a Movie and Actor to keep track of which movie starred which actor in the Relationships tab!</p>
    <p>This website also uses AI to write reviews for the movies and comments about the actors. To see this functionality
        go to the Details page of a Movie/Actor after creating it!</p>
    @* <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p> *@
</div>
