@{
    ViewData["Title"] = "Home Page";
}

<div class="p-5 mb-4 bg-secondary text-white rounded-3">
    <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Welcome to Film Favorites</h1>
        <p class="col-md-8 fs-4">
            Store information about your favorite movies and actors!
            </br>
            Explore details of your favorite films using AI!
            </br>
        </p>
           
        <a class="btn btn-light btn-lg" href="/Movies">View Favorite Movies</a>
    </div>
</div>
